body {
  background: #f8f8f9;
  font-family: proxima-nova, arial, sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  margin: 0;
}
a:link, a:visited {
  color: #229ca8;
  text-decoration: none;
}
a:hover, a:active {
  color: #1D858F;
  text-decoration: none;
}
.clearfix {
  clear: both;
  height: 32px;
}
.feather {
  height: 16px;
}
.highcharts-credits {
  display: none;
}
.tabledata {
  width: 100%;
  height: 80vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.chartdisplay {
  height: 80vh;
  margin: 20px auto;
  width: 100%;
}
.chartdisplayalt {
  height: 80vh;
  margin: 20px 0 0 0;
  width: 100%;
}
.chartdumb {
  height: 78px;
  margin: 0 auto;
}
.dot {
  background: #229ca8;
  border-radius: 4px;
  height: 8px;
  width: 8px;
}
.title {
  font-size: 1.3em;
  padding: 3px 10px 3px 0;
}
.card-actions {
  float: right;
  margin-top: -10px;
}
.header-actions {
  float: right;
  margin-top: 10px;
}
.urlex {
  color: #6a6c75;
  font-weight: 400;
  margin-left: 25px;
}
/* integration */
.integration {
  margin: -20px -20px 20px -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subtitle {
  color: #6a6c75;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 8px 0;
  text-align: left;
  text-transform: uppercase;
}
/* details table */
#deets thead {
  display: none;
}
#deets tbody tr:first-child {
}
/* metrics */
.pendo-metric__value {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  margin: 20px 0 0 0;
}
.pendo-metric__label {
  background: #fff;
  border: 1px solid #dadce5;
  border-radius: 4px;
  color: #2a2c35;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .5px;
  padding: 0 8px;
  display: inline-flex;
}
/* cardz */
.pendo-card__main {
  height: 110px;
}
.pendo-card__value {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  margin: 50px auto;
  text-align: center;
}
.pendo-card__footer {
  border-top: 1px solid #EBEEF5;
  height: 185px;
  margin: auto -20px;
  padding: 10px 20px;
  overflow: auto;
}
/* overrides from here down */
/* placeholders */
input.el-input__inner::-webkit-input-placeholder {
  font-family: proxima-nova, arial, sans-serif;
}
input.el-range-input::-webkit-input-placeholder {
  font-family: proxima-nova, arial, sans-serif;
}
/* primary buttons */
.el-button--primary {
  background-color: #229ca8;
  border-color: #229ca8;
  font-family: proxima-nova, arial, sans-serif;
}
.el-button--primary:hover,
.el-button--primary:focus {
  background-color: #1D858F;
  border-color: #1D858F;
}
/* secondary buttons */
.el-button--secondary {
  background-color: #eaecf1;
  border-color: #eaecf1;
  color: #3a3c45;
  font-family: proxima-nova, arial, sans-serif;
}
.el-button--secondary:hover,
.el-button--secondary:focus {
  background-color: #dadce4;
  border-color: #dadce4;
  color: #3a3c45;
}
/* info buttons */
.el-button--info {
  font-family: proxima-nova, arial, sans-serif;
}
/* text buttons */
.el-button--text {
  color: #229ca8;
  font-family: proxima-nova, arial, sans-serif;
}
.el-button--text:hover,
.el-button--text:focus {
  color: #1D858F;
}
/* tabs */
.el-tabs__item:hover,
.el-tabs__item:focus {
  color: #229ca8;
}
.el-tabs__item.is-active {
  color: #229ca8;
}
.el-tabs__active-bar {
  background-color: #229ca8;
}
/* dropdowns */
.el-select-dropdown__item {
  font-family: proxima-nova, arial, sans-serif;
}
.el-select-dropdown__item.selected {
  color: #229ca8;
}
.el-dropdown-menu__item:not(.is-disabled):hover{
  background-color: #F5F7FA;
  color: #606266;
}
.el-dropdown-link {
  color: #229ca8;
  cursor: pointer;
}
.el-select .el-input.is-focus .el-input__inner,
.el-select .el-input__inner:focus {
  border-color: #229ca8;
  font-family: proxima-nova, arial, sans-serif;
}
.el-input__inner:focus {
  border-color: #229ca8;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  color: #229ca8;
}
/* input */
.el-input__inner {
  font-family: proxima-nova, arial, sans-serif;
}
/* calendar */
.el-date-table td.end-date span,
.el-date-table td.start-date span {
  background-color: #229ca8;
}
.el-date-table td.today span {
  color: #229ca8;
}
.el-date-table td.available:hover{
  color: #229ca8;
}
.el-date-table td.in-range div,
.el-date-table td.in-range div:hover {
  background-color: rgba(34,156,168, 0.05);
}
.el-range-editor .el-date-input.is-focus .el-input__inner,
.el-select .el-input__inner:focus {
  border-color: #229ca8;
}
.el-range-editor.is-active, .el-range-editor.is-active:hover {
  border-color: #229ca8;
}
.el-picker-panel__shortcut {
  font-family: proxima-nova, arial, sans-serif;
}
.el-picker-panel__shortcut:hover {
  color: #229ca8;
}
.el-range-input {
  font-family: proxima-nova, arial, sans-serif;
}
.el-date-editor .el-range-separator {
  font-family: proxima-nova, arial, sans-serif;
}
/* checkboxes */
.el-checkbox {
  display: block;
  clear: both;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #229ca8;
}
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #229ca8;
  border-color: #229ca8;
}
/* checkbox group button */
.el-checkbox-button__inner:hover {
  color: #229ca8;
}
.el-checkbox-button.is-checked:first-child .el-checkbox-button__inner,
.el-checkbox-button.is-checked:last-child .el-checkbox-button__inner {
  border-left-color: #229ca8;
}
.el-checkbox-button.is-checked .el-checkbox-button__inner {
  background-color: #229ca8;
  border-color: #229ca8;
  box-shadow: none;
}

/* radio buttons */
.el-radio, .el-radio-group {
  display: block;
  clear: both;
  line-height: 21px;
}
.el-radio__input.is-checked+.el-radio__label {
  color: #229ca8;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #229ca8;
  background: #229ca8;
}
/* switch */
.el-switch.is-checked .el-switch__core {
  border-color: #229ca8;
  background-color: #229ca8;
}
.el-switch__label.is-active {
  color: #229ca8;
}
/* collapse */
.el-collapse {
  border-top: 0;
  border-bottom: 0;
}
.el-collapse-item__header {
  border-bottom: 0;
  height: 32px;
  line-height: 32px;
}
.el-collapse-item__wrap {
  border-bottom: 0;
}
.el-collapse-item__header {
  font-size: 14px;
  font-weight: 400;
}
/* collapse ufo */
#ufobody .el-collapse-item__header {
  border-top: 1px solid #EAECF1;
  color: #9A9CA5;
  font-size: 12px;
  font-weight: 600;
  margin: 16px -16px 0 -16px;
  padding: 8px 16px 0px 16px;
  text-transform: uppercase;
}
#ufobody .el-collapse-item__header.is-active {
  color: #229ca8;
}
#ufobody .el-collapse-item__content {
  font-size: 14px;
}
/* ufo */
#ufo {
  background: #fff;
  width: 400px;
  -moz-box-shadow:    0 2px 6px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.17);
  box-shadow:         0 2px 6px rgba(0, 0, 0, 0.17);
  position: absolute;
}
#ufoheader {
  background: #F8F8F9;
  border-bottom: 1px solid #DADCE5;
  cursor: grab;
  font-weight: bold;
  padding: 16px;
}
#ufobody {
  max-height: 400px;
  overflow: auto;
  padding: 16px;
}
#ufofooter {
  border-top: 1px solid #EAECF1;
  padding: 16px;
  position: sticky;
  text-align: right;
}
/* carousel */
.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}
.el-carousel__item {
  background-color: #d3dce6;
}
/* rando */
.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: transparent;
}
.el-table th>.cell,
.el-table .cell {
  white-space: nowrap;
}
td:last-child {
  padding-right: 20px;
}
.el-card {
  margin-bottom: 32px;
}
.el-breadcrumb {
  line-height: 18px;
}
.el-form-item__label {
  color: #303133;
  font-weight: 500;
}
.el-select,
.el-date-editor--daterange.el-input,
.el-date-editor--daterange.el-input__inner {
  width: 100%;
}
.el-form-item__content {
  line-height: 24px;
}
.el-divider--horizontal {
  margin: 8px 0;
}
/* special */
.corner-menu {
  position: absolute;
  right: 32px;
  top: 14px;
}
.cornersearch {
  padding-top: 4px;
}
.cornerbell {
  margin-right: 10px;
  padding-top: 4px;
}
.cornerff {
  border-radius: 50%;
  position: relative;
  top: 4px;
  width: 24px;
}
.cornercheck {
  left: 6px;
  position: relative;
  top: 3px;
}
.el-tabs__nav-next, .el-tabs__nav-prev {
  line-height: 60px;
}
.el-tabs__header {
  margin-bottom: 0;
}
.el-tabs__nav-scroll {
  padding: 0 32px;
}
.el-tabs__content {
  background: #f8f8f9;
  margin: 0;
}
.el-row {
  padding: 0 32px;
}
.el-row:first-of-type {
  padding-top: 32px;
}
.el-tabs__item {
  padding: 10px 20px;
  height: 60px;
}
.logo {
  background: #FF4876;
  border-radius: 3px;
  padding: 8px 8px 4px 8px;
  vertical-align: middle;
}
.tagtop {
  border-top: 1px solid #eaecf1;
  padding-top: 16px;
}
